example.json
[{
    "id": "6ce6e39a.e6af9c",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
}, {
    "id": "86457344.50e6b",
    "type": "inject",
    "z": "6ce6e39a.e6af9c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "none",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 230,
    "y": 180,
    "wires": [["9a142026.fa47f"]]
}, {
    "id": "9a142026.fa47f",
    "type": "function",
    "z": "6ce6e39a.e6af9c",
    "name": "add new layer",
    "func": "msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 180,
    "wires": [["c643e022.1816c"]]
}, {
    "id": "c643e022.1816c",
    "type": "worldmap",
    "z": "6ce6e39a.e6af9c",
    "name": "",
    "x": 790,
    "y": 220,
    "wires": []
}, {
    "id": "2998e233.4ba64e",
    "type": "function",
    "z": "6ce6e39a.e6af9c",
    "name": "USGS Quake monitor csv re-parse",
    "func": "msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 320,
    "wires": [["c643e022.1816c"]]
}, {
    "id": "e72c5732.9fa198",
    "type": "function",
    "z": "6ce6e39a.e6af9c",
    "name": "move and zoom",
    "func": "msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 220,
    "wires": [["c643e022.1816c"]]
}, {
    "id": "12317723.589249",
    "type": "csv",
    "z": "6ce6e39a.e6af9c",
    "name": "",
    "sep": ",",
    "hdrin": true,
    "hdrout": "",
    "multi": "one",
    "ret": "\\n",
    "temp": "",
    "x": 430,
    "y": 260,
    "wires": [["2998e233.4ba64e"]]
}, {
    "id": "10e5e5f0.8daeaa",
    "type": "inject",
    "z": "6ce6e39a.e6af9c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "none",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 230,
    "y": 220,
    "wires": [["e72c5732.9fa198"]]
}, {
    "id": "b6917d83.d1bac",
    "type": "http request",
    "z": "6ce6e39a.e6af9c",
    "name": "",
    "method": "GET",
    "url": "http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv",
    "x": 310,
    "y": 320,
    "wires": [["12317723.589249", "8c47fd11.17eeb"]]
}, {
    "id": "3842171.4d487e8",
    "type": "inject",
    "z": "6ce6e39a.e6af9c",
    "name": "Quakes",
    "topic": "",
    "payload": "",
    "payloadType": "none",
    "repeat": "900",
    "crontab": "",
    "once": false,
    "x": 240,
    "y": 260,
    "wires": [["b6917d83.d1bac"]]
}, {
    "id": "8c47fd11.17eeb",
    "type": "fiware orion",
    "z": "6ce6e39a.e6af9c",
    "name": "",
    "service": "7143b744.7c807",
    "entype": "",
    "enid": ".*",
    "attributes": "",
    "rtype": "FIWARE::StringQuery",
    "rvalue": "",
    "limit": 20,
    "includeattr": true,
    "x": 462.5,
    "y": 424,
    "wires": [[]]
}, {
    "id": "7143b744.7c807",
    "type": "orion-service",
    "z": "",
    "name": "",
    "url": "http://127.0.0.1",
    "port": "1026"
}]